* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "hack-font", sans-serif;
}
*::-webkit-scrollbar {
  width: 0.25rem;
}
*::-webkit-scrollbar-track {
  background-color: #171520;
}
*::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 5px;
}

ul {
  list-style: none;
}

body {
  width: 100vw;
  height: 100vh;
  grid-template-columns: 260px 1fr;
  grid-template-rows: 100vh;
  color: white;
}

button {
  height: 100%;
  appearance: none;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  color: white;
  font-size: 16px;
}

.active {
  background-color: #9530D9;
}

.display-flex, .navigation .config, .navigation .cal, .flex-center, .navigation .config__group .clear, .navigation .config__group .dark-mode, .navigation .config__group .privacy, .navigation .config__group .help, .group, .navigation .config__group, .navigation .cal__group, .navigation .create-cal__card {
  display: flex;
}

.display-grid, .navigation, body {
  display: grid;
}

.flex-center, .navigation .config__group .clear, .navigation .config__group .dark-mode, .navigation .config__group .privacy, .navigation .config__group .help, .group, .navigation .config__group, .navigation .cal__group, .navigation .create-cal__card {
  justify-content: center;
  align-items: center;
}

.transition, .group, .navigation .config__group, .navigation .cal__group, .navigation .create-cal__card {
  transition: all 300ms;
}

.hover, .navigation .config__group, .navigation .cal__card__remove, .navigation .cal__card__dowload, .navigation .cal__card, .navigation .cal__group, .navigation .create-cal__card {
  opacity: 0.5;
}
.hover:hover, .navigation .config__group:hover, .navigation .cal__card__remove:hover, .navigation .cal__card__dowload:hover, .navigation .cal__card:hover, .navigation .cal__group:hover, .navigation .create-cal__card:hover {
  opacity: 1;
}

i {
  width: 14;
  height: 16.8;
  color: white;
}

.group, .navigation .config__group, .navigation .cal__group, .navigation .create-cal__card {
  height: 44px;
  padding-left: 15px;
  justify-content: space-between;
  width: 100%;
}

.widthHeightCard, .navigation .config__group .clear, .navigation .config__group .dark-mode, .navigation .config__group .privacy, .navigation .config__group .help, .navigation .cal__card__remove, .navigation .cal__card__dowload {
  width: 20%;
  height: 100%;
}

.navigation {
  grid-template-columns: 1fr;
  grid-template-rows: auto 4fr 1fr;
  row-gap: 10px;
  background-color: #171520;
  padding: 10px;
}
.navigation .create-cal__card {
  column-gap: 10px;
  justify-content: center;
  border-radius: 7px;
  box-shadow: 0px 0px 1px 1px #9530D9;
  color: #9530D9;
}
.navigation .create-cal__card i {
  color: #9530D9;
}
.navigation .create-cal button {
  width: 100%;
}
.navigation .cal {
  flex-direction: column;
  row-gap: 10px;
  padding: 10px 0;
  border-bottom: 1px solid #9530D9;
  overflow-y: auto;
}
.navigation .cal__group {
  border-bottom: 1px solid white;
}
.navigation .cal__card {
  text-align: left;
  width: 70%;
}
.navigation .cal__card__remove i {
  color: #cc0f01;
}
.navigation .cal__card__dowload i {
  color: #9530D9;
}
.navigation .cal__card__remove, .navigation .cal__card__dowload {
  justify-content: center;
}
.navigation .config {
  flex-direction: column;
  row-gap: 10px;
}
.navigation .config__group {
  border-radius: 7px;
  cursor: pointer;
}
.navigation .config__group:nth-child(1) {
  box-shadow: 0px 1px 1px -0.5px #cc0f01;
}
.navigation .config__group:nth-child(2) {
  box-shadow: 0px 1px 1px -0.5px white;
}
.navigation .config__group:nth-child(3) {
  box-shadow: 0px 1px 1px -0.5px #84563c;
}
.navigation .config__group:nth-child(4) {
  box-shadow: 0px 1px 1px -0.5px #ffcc00;
}
.navigation .config__card {
  width: 80%;
  text-align: left;
  padding: 0;
}
.navigation .config__clear, .navigation .config .clear i {
  color: #cc0f01;
}
.navigation .config__dark-mode, .navigation .config .dark-mode i {
  color: white;
}
.navigation .config__privacy, .navigation .config .privacy i {
  color: #84563c;
}
.navigation .config__help, .navigation .config .help i {
  color: #ffcc00;
}

main {
  background-color: blue;
}

/*# sourceMappingURL=style.css.map */
