* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "hack-font", sans-serif;
}
*::-webkit-scrollbar {
  width: 0.25rem;
}
*::-webkit-scrollbar-track {
  background-color: #171520;
}
*::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 5px;
}

ul {
  list-style: none;
}

body {
  width: 100vw;
  height: 100vh;
  grid-template-columns: 260px 1fr;
  grid-template-rows: 100vh;
  color: white;
}

button {
  height: 100%;
  appearance: none;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  color: white;
  font-size: 16px;
}

.active {
  background-color: #9530D9;
}

.display-flex, .navigation .config, .navigation .cal, .flex-center, .navigation .config__group .clear, .navigation .config__group .dark-mode, .navigation .config__group .privacy, .navigation .config__group .help, .navigation .config__group .dowload, .navigation .cal__card__dowload, .group, .navigation .cal__group, .generate-group-create-config, .navigation .config__group, .navigation .create-cal__group {
  display: flex;
}

.display-grid, .navigation, body {
  display: grid;
}

.flex-center, .navigation .config__group .clear, .navigation .config__group .dark-mode, .navigation .config__group .privacy, .navigation .config__group .help, .navigation .config__group .dowload, .navigation .cal__card__dowload, .group, .navigation .cal__group, .generate-group-create-config, .navigation .config__group, .navigation .create-cal__group {
  justify-content: center;
  align-items: center;
}

.transition, .hover-nav, .navigation .cal__card__remove, .navigation .cal__card__dowload, .navigation .cal__card, .group, .navigation .cal__group, .generate-group-create-config, .navigation .config__group, .navigation .create-cal__group {
  transition: all 300ms;
}

a {
  text-decoration: none;
}

i {
  width: 14;
  height: 16.8;
  color: white;
}

.group, .navigation .cal__group, .generate-group-create-config, .navigation .config__group, .navigation .create-cal__group {
  height: 44px;
  justify-content: space-between;
  width: 100%;
}

.generate-group-create-config, .navigation .config__group, .navigation .create-cal__group {
  border-radius: 7px;
  cursor: pointer;
}

.widthHeightCard, .navigation .config__group .clear, .navigation .config__group .dark-mode, .navigation .config__group .privacy, .navigation .config__group .help, .navigation .config__group .dowload, .navigation .cal__card__remove, .navigation .cal__card__dowload {
  width: 20%;
  height: 100%;
}

.hover-nav, .navigation .cal__card__remove, .navigation .cal__card__dowload, .navigation .cal__card, .generate-group-create-config, .navigation .config__group, .navigation .create-cal__group {
  opacity: 0.5;
}
.hover-nav:hover, .navigation .cal__card__remove:hover, .navigation .cal__card__dowload:hover, .navigation .cal__card:hover, .generate-group-create-config:hover, .navigation .config__group:hover, .navigation .create-cal__group:hover {
  opacity: 1;
  padding: 0 15px;
  background-color: #262335;
}

.navigation {
  grid-template-columns: 1fr;
  grid-template-rows: auto 4fr 1fr;
  row-gap: 10px;
  background-color: #171520;
  padding: 10px;
}
.navigation .create-cal__card, .navigation .create-cal i {
  color: #9530D9;
}
.navigation .cal {
  flex-direction: column;
  row-gap: 10px;
  padding: 10px 0;
  border-bottom: 1px solid #9530D9;
  border-top: 1px solid #9530D9;
  overflow-y: auto;
}
.navigation .cal__group {
  padding-left: 15px;
  border-radius: 7px;
}
.navigation .cal__group:hover {
  background-color: #262335;
}
.navigation .cal__card {
  text-align: left;
  width: 70%;
}
.navigation .cal__card__remove i {
  color: #cc0f01;
}
.navigation .cal__card__dowload i {
  color: #9530D9;
}
.navigation .config {
  flex-direction: column;
  row-gap: 10px;
}
.navigation .config__group .clear, .navigation .config__group .dark-mode, .navigation .config__group .privacy, .navigation .config__group .help, .navigation .config__group .dowload {
  justify-content: flex-end;
}
.navigation .config__clear, .navigation .config .clear i {
  color: #cc0f01;
}
.navigation .config__dowload, .navigation .config .dowload i {
  color: #9530D9;
}
.navigation .config__dark-mode, .navigation .config .dark-mode i {
  color: white;
}
.navigation .config__privacy, .navigation .config .privacy i {
  color: #84563c;
}
.navigation .config__help, .navigation .config .help i {
  color: #ffcc00;
}

main {
  background-color: #262335;
}

/*# sourceMappingURL=style.css.map */
