///////////////////////
/// VARIABLES, any
///////////////////////
$row-gap-distance: 10px;

$darkMode-color: white;
$privacy-color: #84563c;
$help-color: #ffcc00;

///////////////////////
/// CLASS ALL, all
///////////////////////
/// 
@mixin shadowD($color) {
    box-shadow: 0px 1px 1px -.5px $color;
}

.group {
    height: 44px;

    @extend .flex-center;

    justify-content: space-between;

    width: 100%; 

    @extend .transition;
}

.generate-group-create-config {
    @extend .group;

    border-radius: 7px;

    cursor: pointer;

    @extend .hover-nav;
}

.widthHeightCard {
    width: 20%;
    height: 100%;
} 

.hover-nav {
    opacity: .5;

    @extend .transition;

    &:hover {
        opacity: 1;

        padding: 0 15px;

        background-color: $backgroud-color-many;
    }
}


.navigation {
    @extend .display-grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 4fr 1fr;
    row-gap: $row-gap-distance;

    background-color: $backgroud-color-strong;

    padding: $row-gap-distance;

    .create-cal {
        &__group {
            @extend .generate-group-create-config;
        }

        &__card, i {
            color: $principal-1;
        }
    }

    .cal {
        @extend .display-flex;
        flex-direction: column;
        row-gap: $row-gap-distance;

        padding: $row-gap-distance 0;

        border-bottom: 1px solid $principal-1;
        border-top: 1px solid $principal-1;

        overflow-y: auto;

        &__group {
            @extend .group;

            padding-left: 15px;

            border-radius: 7px;

            &:hover {
                background-color: $backgroud-color-many;
            }
        }

        &__card {
            text-align: left;
            width: 70%;

            @extend .hover-nav;

            &__remove {
                i {
                    color: $color-blood;
                }
            }

            &__dowload {
                @extend .flex-center;
                
                i {
                    color: $principal-1;
                }
            }

            &__remove, &__dowload  {
                @extend .widthHeightCard;

                @extend .hover-nav;
            }
        }
    }

    .config {
        @extend .display-flex;
        flex-direction: column;
        row-gap: $row-gap-distance;

        &__group {
            @extend .generate-group-create-config;

            .clear, .dark-mode, .privacy, .help, .dowload {
                @extend .flex-center;
                justify-content: flex-end;

                @extend .widthHeightCard;
            }
        }

        &__clear, .clear i { color: $color-blood; }

        &__dowload, .dowload i { color: $principal-1; }

        &__dark-mode, .dark-mode i { color: $darkMode-color; }

        &__privacy, .privacy i { color: $privacy-color; }

        &__help, .help i { color: $help-color; }
    }
}